@import './colorPalette.css';

.links-container {
  width: 83%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  color: var(--color-accent);
}

.link-item-container {
  display: flex;
  color: var(--color-accent);
  font-size: 18px;
  margin-left: 5px;
}

.link-icon {
  font-size: 18px;
  color: var(--color-accent);
}

@media only screen and (max-width: 375px) {
  .links-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .link-item-container {
    margin: 10px 0;
  }
}