@import './colorPalette.css';

.nav-button-container {
  width: 40px;
  height: 32px;
  border: 1px solid var(--color-bg-2);
  border-radius: 4px;
  background-color: var(--color-bg-1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-fg-0);
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.nav-button-selecionado {
  background-color: var(--color-accent);
  color: var(--color-bg-0);
}

.nav-button-numero {
  font-size: 14px;
  color: inherit;
}